<!-- <ul *ngFor="let game of games; let i = index" [attr.data-index]="i">
    <li (click)="gameSelected(game,i)">
        {{game.whitePlayer.firstName}} {{game.whitePlayer.lastName}} {{getResult(game)}} {{game.blackPlayer.firstName}}
        {{game.blackPlayer.lastName}}
    </li>
</ul> -->


<div>
    <table mat-table [dataSource]="dataSource" class="">
        <ng-container matColumnDef="whitePlayer">
            <th mat-header-cell *matHeaderCellDef>White Player</th>
            <td mat-cell *matCellDef="let data">
                {{ data.games.whitePlayer.firstName }} {{ data.games.whitePlayer.lastName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="blackPlayer">
            <th mat-header-cell *matHeaderCellDef>Black Player</th>
            <td mat-cell *matCellDef="let data">
                {{ data.games.blackPlayer.firstName }} {{ data.games.blackPlayer.lastName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef>Result</th>
            <td mat-cell *matCellDef="let data">
                {{ getResult(data.games) }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true "></tr>

        <tr mat-row (click)="clickedRow(row)" *matRowDef="let row; columns: displayedColumns;"
            class="hover:bg-secondary-hover cursor-pointer" [class.clicked]="isSelectedGame(row)"></tr>
    </table>

    <!-- <div>
        <div *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate" style="height: 10px;"></mat-progress-bar>
        </div>
    </div> -->

    <mat-paginator #paginator [length]="totalData" [pageSizeOptions]="pageSizes" showFirstLastButtons
        aria-label="Select page">
    </mat-paginator>
</div>