<div class="flex justify-center items-center h-screen bg-secondary w-full mt-32 pb-24">
    <div class="w-full max-w-md">
        <h1 class="text-3xl font-semibold mb-4 text-gray-200">Sign up</h1>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-200">Email</label>
                <input [(ngModel)]="user.email" name="email" type="email" required id="email" placeholder="Email"
                    class="input-primary">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-200">Password</label>
                <input [(ngModel)]="user.password" name="password" type="password" required id="password"
                    placeholder="Password" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="firstName" class="block text-sm font-medium text-gray-200">First Name</label>
                <input [(ngModel)]="user.firstName" name="firstName" type="text" required id="firstName"
                    placeholder="First Name" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="lastName" class="block text-sm font-medium text-gray-200">Last Name</label>
                <input [(ngModel)]="user.lastName" name="lastName" type="text" required id="lastName"
                    placeholder="Last Name" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="dateOfBirth" class="block text-sm font-medium text-gray-200">Date of Birth</label>
                <input [(ngModel)]="user.dateOfBirth" name="dateOfBirth" type="date" required id="dateOfBirth"
                    class="input-primary">
            </div>

            <div class="mb-4">
                <label for="representingCountry" class="block text-sm font-medium text-gray-200">Representing
                    Country</label>
                <input [(ngModel)]="user.representingCountry" name="representingCountry" type="text"
                    id="representingCountry" placeholder="Representing Country" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="classicalElo" class="block text-sm font-medium text-gray-200">Classical Elo</label>
                <input [(ngModel)]="user.classicalElo" name="classicalElo" type="number" id="classicalElo"
                    placeholder="Classical Elo" class="input-primary" [disabled]="!user.isPlayer">
            </div>

            <div class="mb-4">
                <label for="rapidElo" class="block text-sm font-medium text-gray-200">Rapid Elo</label>
                <input [(ngModel)]="user.rapidElo" name="rapidElo" type="number" id="rapidElo" placeholder="Rapid Elo"
                    class="input-primary" [disabled]="!user.isPlayer">
            </div>

            <div class="mb-4">
                <label for="blitzElo" class="block text-sm font-medium text-gray-200">Blitz Elo</label>
                <input [(ngModel)]="user.blitzElo" name="blitzElo" type="number" id="blitzElo" placeholder="Blitz Elo"
                    class="input-primary" [disabled]="!user.isPlayer">
            </div>

            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-200">
                    <input [(ngModel)]="user.isPlayer" name="isPlayer" type="checkbox" class="mr-2">
                    Is Player
                </label>
            </div>

            <div class="mb-4">
                <button type="submit" class="button-primary">
                    Sign Up
                </button>
            </div>

            <div class=" ">
                <span class="text-sm text-gray-200 ">Already have an account?&nbsp;</span>
                <a [routerLink]="['/log-in']" class="text-blue-500">Log in!</a>
            </div>
        </form>
    </div>
</div>