<div>
    <form (ngSubmit)="updateTournament()" ngNativeValidate class="input-container pt-5">
        <div class="mb-4">
            <label for="tournamentUpdateId" class="block text-sm font-medium text-gray-200">Tournament ID</label>
            <input [(ngModel)]="tournament.id" name="tournamentUpdateId" type="number" required id="tournamentUpdateId"
                placeholder="ID" class="input-primary">
        </div>
        <div class="mb-4">
            <label for="tournamentName" class="block text-sm font-medium text-gray-200">Tournament Name</label>
            <input [(ngModel)]="tournament.tournamentName" name="tournamentName" type="text" required
                id="tournamentName" placeholder="Tournament Name" class="input-primary">
        </div>
        <div class="mb-4">
            <label for="startingDate" class="block text-sm font-medium text-gray-200">Starting Date</label>
            <input [(ngModel)]="startDateFormat" name="startingDate" type="date" required id="startingDate"
                placeholder="Starting Date" class="input-primary">
        </div>
        <div class="mb-4">
            <label for="endingDate" class="block text-sm font-medium text-gray-200">Ending Date</label>
            <input [(ngModel)]="endDateFormat" name="endingDate" type="date" id="endingDate" placeholder="Ending Date"
                class="input-primary">
        </div>
        <div class="mb-4">
            <label for="gamesType" class="block text-sm font-medium text-gray-200">Games Type</label>
            <input [(ngModel)]="gamesType" name="gamesType" type="text" required id="gamesType" placeholder="Type"
                class="input-primary">
        </div>
        <div class="mb-4">
            <label for="minElo" class="block text-sm font-medium text-gray-200">Min Elo</label>
            <input [(ngModel)]="tournament.minElo" name="minElo" type="number" required id="minElo" placeholder="minElo"
                class="input-primary">
        </div>

        <div class="mb-4 w-2/3 mx-auto">
            <button type="submit" class="button-primary">
                Update Tournament
            </button>
        </div>

    </form>
    <mat-divider></mat-divider>
    <div class="flex flex-row">
        <form (ngSubmit)="addPlayer()" ngNativeValidate class="mt-5 input-container-narrow pt-5">

            <div class="mb-4">
                <label for="tournamentAddPlayerId" class="block text-sm font-medium text-gray-200">Tournament ID</label>
                <input [(ngModel)]="tournament.id" name="tournamentAddPlayerId" type="number" required
                    id="tournamentAddPlayerId" placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="playerAddId" class="block text-sm font-medium text-gray-200">Player ID</label>
                <input [(ngModel)]="playerAddId" name="playerAddId" type="number" required id="playerAddId"
                    placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4 w-2/3 mx-auto">
                <button type="submit" class="button-primary">
                    Add Player To Tournament
                </button>
            </div>
        </form>
        <!-- <mat-divider></mat-divider> -->
        <form (ngSubmit)="removePlayer()" ngNativeValidate class="mt-5 input-container-narrow pt-5">
            <div class="mb-4">
                <label for="tournamentRemovePlayerId" class="block text-sm font-medium text-gray-200">Tournament
                    ID</label>
                <input [(ngModel)]="tournament.id" name="tournamentRemovePlayerId" type="number" required
                    id="tournamentRemovePlayerId" placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="playerRemoveId" class="block text-sm font-medium text-gray-200">Player ID</label>
                <input [(ngModel)]="playerRemoveId" name="playerRemoveId" type="number" required id="playerRemoveId"
                    placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4 w-2/3 mx-auto">
                <button type="submit" class="button-primary">
                    Remove Player From Tournament
                </button>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row">
        <form (ngSubmit)="addGame()" ngNativeValidate class="mt-5 input-container-narrow pt-5">
            <div class="mb-4">
                <label for="tournamentAddGameId" class="block text-sm font-medium text-gray-200">Tournament ID</label>
                <input [(ngModel)]="tournament.id" name="tournamentAddGameId" type="number" required
                    id="tournamentAddGameId" placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="gameAddId" class="block text-sm font-medium text-gray-200">Game ID</label>
                <input [(ngModel)]="gameAddId" name="gameAddId" type="number" required id="gameAddId" placeholder="ID"
                    class="input-primary">
            </div>

            <div class="mb-4 w-2/3 mx-auto">
                <button type="submit" class="button-primary">
                    Add Game To Tournament
                </button>
            </div>
        </form>
        <!-- <mat-divider></mat-divider> -->
        <form (ngSubmit)="removeGame()" ngNativeValidate class="mt-5 input-container-narrow pt-5">
            <div class="mb-4">
                <label for="tournamentRemoveGameId" class="block text-sm font-medium text-gray-200">Tournament
                    ID</label>
                <input [(ngModel)]="tournament.id" name="tournamentRemoveGameId" type="number" required
                    id="tournamentRemoveGameId" placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4">
                <label for="gameRemoveId" class="block text-sm font-medium text-gray-200">Game ID</label>
                <input [(ngModel)]="gameRemoveId" name="gameRemoveId" type="number" required id="gameRemoveId"
                    placeholder="ID" class="input-primary">
            </div>

            <div class="mb-4 w-2/3 mx-auto">
                <button type="submit" class="button-primary">
                    Remove Game From Tournament
                </button>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>
</div>