<div>
    <app-administration-game-add></app-administration-game-add>
</div>


<div>
    <app-user-table></app-user-table>
</div>

<div>

    <app-administration-user-delete></app-administration-user-delete>
</div>
<div>
    <app-administration-user-update></app-administration-user-update>
</div>
<div>
    <app-administration-tournament-add></app-administration-tournament-add>
</div>
<div>
    <app-tournament-table></app-tournament-table>
</div>
<div>
    <app-administration-tournament-delete></app-administration-tournament-delete>
</div>

<div>
    <app-administration-tournament-update></app-administration-tournament-update>
</div>