<form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="mb-4">
        <label for="whitePlayerId" class="block text-sm font-medium text-gray-200">White Player ID</label>
        <input [(ngModel)]="game.whitePlayerId" name="whitePlayerId" type="number" required id="whitePlayerId"
            placeholder="Player ID" class="input-primary">
    </div>
    <div class="mb-4">
        <label for="blackPlayerId" class="block text-sm font-medium text-gray-200">Black Plyer ID</label>
        <input [(ngModel)]="game.blackPlayerId" name="blackPlayerId" type="number" required id="blackPlayerId"
            placeholder="Player ID" class="input-primary">
    </div>
    <div class="mb-4">
        <label for="winnerId" class="block text-sm font-medium text-gray-200">Winner ID (0 for draw) </label>
        <input [(ngModel)]="game.winnerId" name="winnerId" type="number" required id="winnerId" placeholder="Winner ID"
            class="input-primary">
    </div>
    <div class="mb-4">
        <label for="startingTime" class="block text-sm font-medium text-gray-200">Starting Time</label>
        <input [(ngModel)]="game.startingTime" name="startingTime" type="number" required id="startingTime"
            placeholder="Starting Time" class="input-primary">
    </div>
    <div class="mb-4">
        <label for="increment" class="block text-sm font-medium text-gray-200">Increment</label>
        <input [(ngModel)]="game.increment" name="increment" type="number" required id="increment"
            placeholder="Increment" class="input-primary">
    </div>
    <div class="mb-4">
        <label for="tournamentId" class="block text-sm font-medium text-gray-200">Tournamnt ID</label>
        <input [(ngModel)]="game.tournamentId" name="tournamentId" type="number" required id="tournamentId"
            placeholder="Tournament ID" class="input-primary">
    </div>
    <div class="mb-4">
        <label for="date" class="block text-sm font-medium text-gray-200">Date</label>
        <input [(ngModel)]="game.gameDate" name="date" type="date" required id="date" placeholder="Date"
            class="input-primary">
    </div>
    <div class="mb-4">
        <label for="gamePGN" class="block text-sm font-medium text-gray-200">Portable Game Notation</label>
        <textarea [(ngModel)]="gamePgnAsString" matInput placeholder="Ex. It makes me feel..." name="gamePGN" required
            id="gamePGN" placeholder="PGN" class="input-primary"></textarea>
    </div>

    <div class="mb-4 w-2/3 mx-auto">
        <button type="submit"
            class="button-primary">
            Add Game
        </button>
    </div>

</form>