<form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="mb-4">
        <label for="tournamentName" class="block text-sm font-medium text-gray-200">Tournament Name</label>
        <input [(ngModel)]="tournamentName" name="tournamentName" type="text" required id="tournamentName"
            placeholder="Tournament Name"
            class="input-primary">
    </div>
    <div class="mb-4">
        <label for="startingDate" class="block text-sm font-medium text-gray-200">Starting Date</label>
        <input [(ngModel)]="startingDate" name="startingDate" type="date" required id="startingDate"
            placeholder="Starting Date"
            class="input-primary">
    </div>
    <div class="mb-4">
        <label for="endingDate" class="block text-sm font-medium text-gray-200">Ending Date</label>
        <input [(ngModel)]="endingDate" name="endingDate" type="date" id="endingDate"
            placeholder="Ending Date"
            class="input-primary">
    </div>
    <div class="mb-4">
        <label for="gamesType" class="block text-sm font-medium text-gray-200">Games Type</label>
        <input [(ngModel)]="gamesType" name="gamesType" type="text" required id="gamesType" placeholder="Games Type"
            class="input-primary">
    </div>
    <div class="mb-4">
        <label for="minElo" class="block text-sm font-medium text-gray-200">Minimum Elo</label>
        <input [(ngModel)]="minElo" name="minElo" type="number" required id="minElo" placeholder="Min Elo"
            class="input-primary">
    </div>

    <div class="mb-4 w-2/3 mx-auto">
        <button type="submit"
            class="button-primary">
            Add Tournament
        </button>
    </div>

</form>