<mat-toolbar color="primary">
    <div class="pl-5 flex justify-center items-center h-full">
        <img src="/assets/img/logo.png" height="48px" width="48px" alt="image">
        <span class="text-2xl font-mono font-bold tracking-widest">ChessApp</span>
    </div>
    <div class="flex justify-between w-full items-center">
        <div class="flex justify-center items-center w-full h-full">
            <a mat-button routerLink="/home" class="text-lg" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/browse" class="text-lg" routerLinkActive="active">Browse</a>
            <a mat-button routerLink="/manage" class="text-lg" routerLinkActive="active">Manage</a>
        </div>
        <ng-container *ngIf="(name$ | async); else loginButton">
            <span class="text-white">Welcome, <button class="text-lg" mat-button
                    [matMenuTriggerFor]="menu">{{name$|async}}</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logOut()">Log Out</button>
                </mat-menu>
            </span>
        </ng-container>
        <ng-template #loginButton>
            <a [routerLink]="['/log-in']" class="text-white bg-gradient-to-r
            from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br
            dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 
            text-center mr-2 mb-2">Log in</a>
        </ng-template>
    </div>

</mat-toolbar>