<span *ngIf="song"> 
<h2>{{song.title}}</h2>
<h4>{{song.artist}}</h4>
<p>{{song.viewsCount}}</p>
<p>Selected song ID: {{song.id}}</p>

<p>
<button (click)="like()">Like</button>
<button (click)="dislike()">Dislike</button>
<span>Rating: {{rating()}}</span>
</p>
<iframe width="560" height="315" 
[src]="videoUrl" 
title="YouTube video player" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
allowfullscreen>
</iframe>
</span>