<form (ngSubmit)="onSubmit()" ngNativeValidate>




    <div class="mb-4">
        <label for="selectedTournamentId" class="block text-sm font-medium text-gray-200">Selected Tournament</label>
        <input [(ngModel)]="selectedTournamentId" name="selectedTournamentId" type="number" required
            id="selectedTournamentId" placeholder="Tournament ID"
            class="input-primary">
    </div>

    <div class="mb-4 w-2/3 mx-auto">
        <button type="submit"
            class="w-full px-4 py-2 font-bold text-white  bg-[#c2185b] rounded-lg hover:bg-[#e1377a] focus:outline-none focus:bg-[#e1377a]">
            Delete Tournament
        </button>
    </div>
</form>