<form (ngSubmit)="onSubmit()" ngNativeValidate>




    <div class="mb-4">
        <label for="selectedUserId" class="block text-sm font-medium text-gray-200">Selected Player</label>
        <input [(ngModel)]="selectedUserId" name="selectedUserId" type="number" required id="selectedUserId"
            placeholder="User ID" class="input-primary">
    </div>

    <div class="mb-4 w-2/3 mx-auto">
        <button type="submit"
            class="w-full px-4 py-2 font-bold text-white  bg-primary rounded-lg hover:bg-primary-hover focus:outline-none focus:bg-primary-focus">
            Delete User
        </button>
    </div>
</form>