<div *ngIf="player">
    <h1 mat-dialog-title>Player info: </h1>
    <div mat-dialog-content>
        <p>Name: {{player.firstName}} {{player.lastName}}</p>
        <p>Represents: {{player.representingCountry}}</p>
        <p>Birthday: {{dateService.formatDate(player.dateOfBirth)}}</p>
        <p>Classical Elo:{{player.classicalElo}}</p>
        <p>Rapid Elo:{{player.rapidElo}}</p>
        <p>Blitz Elo:{{player.blitzElo}}</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()">OK</button>
    </div>
</div>